
body {
  font-family: "Open Sans", sans-serif;
  color: #050a33;
}


h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  color: #081369;
}


a {
  color: #1a236b;
}
a:hover {
  color: #050a33;
}
